*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  Helvetica;
}

html,body{
    height:100%;
    width:100%;
}

main
{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 200px 1fr;

    grid-template-areas: "header header"
                          "aside section"
                          "figure figure";

    gap: 10px;
    padding: 10px;
}

header{
    background-color: green;
    grid-area: header;

}
aside{
    background-color: red;
    grid-area: aside;
}

.section{
    background-color: blue;
    grid-area: section;
}

.figure{
    background-color: orange;
    grid-area: figure;
}
    
    
